{% extends 'index.html' %} {% block content %}

<div class="container py-5 mt-4">
  <h2 class="mb-3 text-primary fw-bold">Contact</h2>

  <div
    class="contact-box mb-3 p-3 bg-white shadow-sm rounded d-flex justify-content-between align-items-center"
  >
    <span class="fw-semibold text-secondary">Name</span>
    <span class="fw-bold">Shravya H Somayaji</span>
  </div>

  <div
    class="contact-box mb-3 p-3 bg-white shadow-sm rounded d-flex justify-content-between align-items-center"
  >
    <span class="fw-semibold text-secondary">Email</span>
    <span class="fw-bold">somayajishravya@gmail.com</span>
  </div>

  <div
    class="contact-box mb-3 p-3 bg-white shadow-sm rounded d-flex justify-content-between align-items-center"
  >
    <span class="fw-semibold text-secondary">Phone</span>
    <span class="fw-bold">+91 8217566721</span>
  </div>

  <div
    class="contact-box mb-3 p-3 bg-white shadow-sm rounded d-flex justify-content-between align-items-start"
  >
    <span class="fw-semibold text-secondary">Address</span>
    <span class="fw-bold text-end" style="max-width: 60%">
      JP Nagar, Bengaluru, Karnataka, India
    </span>
  </div>
</div>

{% endblock %}
