{% extends 'index.html' %} {% block content %}
<div class="container py-5 mt-4">
  <h2 class="mb-4">Projects</h2>

  <div class="row g-4">
    {% for p in projects %}
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ p["name"] }}</h5>
          <p class="card-text"><b>Technology:</b> {{ p["technology"] }}</p>
          <p class="card-text">{{ p["description"] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
